body {
    height: 95vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 2px solid gray;
    padding: 1px;
    background-color: black;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    margin: auto;
}

#grid-container {
    /* border: 1px solid black; */
    width: 70%;
    height: 100%;
    display: grid;
    grid-gap: 1px;
    background-color: rgba(245, 245, 245, 0.884);
    margin-left: auto;
    grid-template-columns: none;
    grid-template-rows: none;
}

#controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* border: 2px solid green; */
}

.button {
    width: 40%;
    height: 5%;
    min-width: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
    font-weight: bold;
    color: maroon;
    
    /* border-radius: 7px; */
}

.cell {
    background-color:ghostwhite;
}

.highlighted-cell {
    background-color: black;
}

.cell:hover {
    background-color: black;
}

@media(min-width: 500px){
    #grid-container {
        height: 100%;
    }
}